<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="keywords" content="keywords">
<meta name="description" content="description">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>首页</title>
<link href="../../bootstrap2.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../styles/Edit-Common.css" rel="stylesheet" />

</head>

<body>
	<div class="row-fluid">
		<div class="tabbable" id="tabs-63172">
			<!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab"
					href="#tab0">资讯编辑</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active"
					id="tab0">
					<div class="center-block">
						<div class="block-content collapse in">
							<div class="span12">
								<form class="form-horizontal">
									<fieldset>
										<input type="hidden" id="cmsId" name="cmsId">
										<div class="control-group">
											<label class="control-label" for="cmsTitle">标题</label>
											<div class="controls">
												<input type="text" class="span3" id="cmsTitle"
													name="cmsTitle" placeholder="标题">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="cmsAuthor">作者</label>
											<div class="controls">
												<input type="text" class="span3" id="cmsAuthor"
													name="cmsAuthor" placeholder="作者">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="cmsImageUrl">图标</label>
											<div class="controls">
												<img id="cmsImage" src=" "/>
												<a id="editImageBtn" class="btn" data-toggle="tab"
													href="#tab1">编辑图标</a>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="editor">内容</label>
											<div class="controls">
												<script type="text/plain" id="editor"></script>
											</div>
										</div>

									</fieldset>
								</form>
							</div>
						</div>
					</div>
					<div class="form-actions text-center">
						<a id="saveBtn" type="submit" class="btn btn-primary">保存</a>
						<a id="backBtn" type="reset" class="btn">取消</a>
					</div>
				</div>

				<div class="tab-pane" id="tab1">
					<div class="center-block" id="croperContainer"></div>
					<div class="form-actions text-center">
						<a class="btn btn-primary"
							data-toggle="tab" href="#tab0" id="finishCrop">完成截取</a> 
						<a class="btn" data-toggle="tab"
							href="#tab0">取消</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../bootstrap2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="../../ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="../../layer/layer.js"></script>
<script type="text/javascript" src="../../laypage/laypage.js"></script>
<script type="text/javascript" src="js/edit.js"></script>
</html>
